body{
     text-align: center;
     background-color:rgba(14, 7, 100, 0.932); 
}

#navbar{
     background-color:rgba(11, 11, 33, 0.7);
     color:#2BDAE1;
     margin-left:-10px;
     margin-right:-8px;
     margin-top:-25px;
     padding:25px;
     display:flex;
     justify-content:space-between;
     a{
       position:relative;
       top:20px;
       text-align:left;
     }

}
#right-links{
     a{
       display:inline;
       text-align: right;
       position: relative;
       top:30px;
       margin-left:30px;
     }
}

#container1{
           display:inline-block;
           justify-content:center;
           margin-top:50px;
           padding-right:70px;

           button{
                    background-color:#0B0B21;
                    border:solid;
                    border-radius:10px;
                    border-color: black;
                    margin-right:20px;

                    a{
                      text-decoration:none; 
                      border:solid;
                      border-radius:10px;
                      border-color: black;
                      margin-right:50px;
                      color:white;
                      font-weight:900;
                      font-size:medium;
                    }
           }
}

#container2{
            display:inline-block;
            justify-content:center;
            margin-top:50px;
            padding-right:70px;

            button{
                    background-color:#0B0B21;
                    border:solid;
                    border-radius:10px;
                    border-color: black;
                    margin-right:20px;

                    a{
                         text-decoration:none; 
                         border:solid;
                         border-radius:10px;
                         border-color: black;
                         margin-right:50px;
                         color:white;
                         font-weight:900;
                         font-size:medium;
                    }
            }
}

#container3{
            display:inline-block;
            justify-content:center;
            margin-top:50px;
            padding-right:70px;

            button{
                   background-color:#0B0B21;
                   border:solid;
                   border-radius:10px;
                   border-color: black;
                   margin-right:20px;

                   a{
                         text-decoration: none; 
                         border:solid;
                         border-radius:10px;
                         border-color: black;
                         margin-right:50px;
                         color:white;
                         font-weight:900;
                         font-size:medium;
                   }
            }
}

